<div id="city-name">
  <h2><%= @location_info.location %></h2>
  <p>Quote of the Day: <%= @location_info.quote[:quote] %> By: <%= @location_info.quote[:author] %></p>
  <!-- <button type="submit" class="btn" id="favorite-btn">Add to your favorites!!</button> -->
</div>
<ul id="all-info">
  <li>The population is <strong><%= @location_info.population %></strong>.</li>
  <li>The number of veterans living here is <strong><%= @location_info.veterans %></strong>.</li>
  <li>The median age is <strong><%= @location_info.median_age %></strong>.</li>
  <li>The average household size is <strong><%= @location_info.household_size %></strong>.</li>
  <li>The per-capita-income is <strong><%= @location_info.income %></strong>.</li>
  <li>The walk score is <strong><%= @location_info.walkscore %></strong>.</li>
  <li>The bike score is <strong><%= @location_info.bikescore %></strong>.</li>
</ul>
