<ul id="all-info">
  <li>The population of <%= @location_info.location %> is <strong><%= @location_info.population %></strong>.</li>
  <li>The per-capita-income of <%= @location_info.location %> is <strong><%= @location_info.income %></strong>.</li>
  <li>The walk score for <%= @location_info.location %> is <strong><%= @location_info.walkscore %></strong>.</li>
  <li>The bike score for <%= @location_info.location %> is <strong><%= @location_info.bikescore %></strong>.</li>
</ul>
