<div id="city-name">
  <h2><%= @location_info.location %></h2><br>
  <%= button_to "Add to your favorites, #{@user.name}!!", favorite_path({id: @user.id, location: @location_info.location}), class: "btn" %>
  <%= button_to "My Favorites", favorites_path, method: :get, class: "btn" %>
  <u><a href="https://www.nerdwallet.com/cost-of-living-calculator">Cost of Living Calculator</a></u>
  <h6><%= @location_info.quote[:quote] %></h6>
</div>
<ul id="all-info">
  <li>The population is <strong><%= @location_info.population %></strong>.</li>
  <li>The number of veterans living here is <strong><%= @location_info.veterans %></strong>.</li>
  <li>The median age is <strong><%= @location_info.median_age %></strong>.</li>
  <li>The average household size is <strong><%= @location_info.household_size %></strong>.</li>
  <li>The per-capita-income is <strong><%= @location_info.income %></strong>.</li>
  <li>The walk score is <strong><%= @location_info.walkscore %></strong>.</li>
  <li>The bike score is <strong><%= @location_info.bikescore %></strong>.</li>
</ul>
