<div id="city-name">
  <h2><%= @location_info.location %></h2>
  <button type="submit" class="btn" id="favorite-btn">Add to your favorites!!</button>
</div>
<ul id="all-info">
  <li>The population is <strong><%= @location_info.population %></strong>.</li>
  <li>The per-capita-income is <strong><%= @location_info.income %></strong>.</li>
  <li>The walk score is <strong><%= @location_info.walkscore %></strong>.</li>
  <li>The bike score is <strong><%= @location_info.bikescore %></strong>.</li>
</ul>
