<!DOCTYPE html>
<html>
  <head>
    <title>MoveTime</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
      <h1>Move Time</h1>
      <h3>Find Data on Your Next Major City!</h3>
    </nav>
    <div>
      <%= form_tag :search, method: :get, id: "searching" do %>
        <%= text_field_tag :location, nil, placeholder: "City, State", class: "searching-text", :required => true %>
        <%= submit_tag "Search", class: "btn btn-default btn-lg" %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
